body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(196, 195, 195);
}
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f8f5f1; /* Cor de fundo pastel */
    overflow-x: hidden;
    padding-top: 20px;
}
.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #817161; /* Cor do texto pastel */
    display: block;
}
.sidebar a:hover {
    color: #f39191; /* Cor de hover pastel */
}
.content {
    margin-left: 250px;
    padding: 1px 16px;
    height: 1000px;
}

.CadastroProdutos{
    position: relative;
    left: 650px;
    top: 300px;
    background-color: rgb(223, 240, 238);
    padding: 50px;
    right: 10px;
    width: 350px;
    border-radius: 10px;
}

button {
    position: relative;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    background-color: #da7593;
}
button:hover {
    background-color: #f781a8;
}

.DivButton{
    padding-top: 30px;
}

label{
    font-size: 20px;
}
input{
    font-size: 20px;
}